@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfeff;
}

/* NAVBAR SECTION */

.navbar {
  margin: 0 6%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style-type: none;
  flex: 1;
  justify-content: flex-end;
}

.nav-item {
  margin: 0 25px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #878787;
}

.nav-item-active {
  font-weight: 500;
  color: #1f1f1f;
}

.registerBtn {
  border: 2px solid #61a3f2;
  background: transparent;
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #4aa4f2;
}

/* HOSTING UNLIMITED SECTION  */

.hostingSection {
  margin: 5% 6% 0 6%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.hostingSection > .leftSection > h1 {
  position: relative;
  font-family: "Roboto Mono", sans-serif;
  font-size: 50px;
  font-weight: 600;
  top: 3%;
}

.hostingSection > .leftSection > p {
  position: relative;
  top: 15%;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.hostingSection > .leftSection > button {
  position: relative;
  top: 33%;
  background-color: #079df3;
  color: #ffffff;
  font-size: 15px;
  padding: 15px 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 8px 20px 5px #08b1f650;
}

.hostingSection > .rightSection > img {
  height: 500px;
}

/* QUALITY SECTION */

.qualitySection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15% 6% 0 6%;
}

.qualitySection > .leftSection > img {
  height: 500px;
}

.qualitySection > .rightSection > h1 {
  position: relative;
  font-family: "Roboto Mono", sans-serif;
  font-size: 50px;
  font-weight: 600;
  top: 7%;
}

.qualitySection > .rightSection > p {
  position: relative;
  top: 19%;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.qualitySection > .rightSection > button {
  position: relative;
  top: 37%;
  background-color: #079df3;
  color: #ffffff;
  font-size: 15px;
  padding: 15px 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 8px 20px 5px #08b1f650;
}

/* TECHNIAL SUPPORT SECTION */

.techSupportSection {
  margin: 15% 6% 0 6%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.techSupportSection > .leftSection > h1 {
  position: relative;
  font-family: "Roboto Mono", sans-serif;
  font-size: 50px;
  font-weight: 600;
  top: 3%;
}

.techSupportSection > .leftSection > p {
  position: relative;
  top: 15%;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.techSupportSection > .leftSection > button {
  position: relative;
  top: 33%;
  background-color: #079df3;
  color: #ffffff;
  font-size: 15px;
  padding: 15px 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 8px 20px 5px #08b1f650;
}

.techSupportSection > .rightSection > img {
  height: 500px;
}

/* SERVICE SECTION */

.serviceSection {
  margin: 10% 6% 0 6%;
}

.serviceContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.serviceContent > h1 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.serviceContent > p {
  margin: 10px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  justify-items: center;
  margin: 7% 0 0 0;
}

.cards > div {
  width: 350px;
}

.cards > div > h3 {
  margin: 8% 0 0 0;
  font-size: 20px;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
}

.cards > div > p {
  margin: 4% 0 0 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* PRICING SECTION */

.pricingSection {
  margin: 5% 0 0 0;
  height: 105vh;
  background-color: #0685ef;
  padding: 10px 0;
}

.pricingSection > h1 {
  position: relative;
  top: 5%;
  text-align: center;
  color: #ffffff;
  font-size: 43px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.pricingSection > .cards {
  position: relative;
  bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pricingSection > .cards > div {
  height: 700px;
  width: 350px;
  background-color: #ffffff;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.pricingSection > .cards > div > .bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricingSection > .cards > div > .headingSection {
  height: 150px;
  width: 100%;
}

.pricingSection > .cards > div > .headingSectionActive {
  background-color: #4d4d4d;
  border-radius: 10px;
}

.pricingSection > .cards > div > .listSection {
  position: relative;
  bottom: 3%;
}

.pricingSection > .cards > div > .listSection > .pricingList > .listItem {
  margin: 0 0 5% 12%;
  list-style-image: url(../images/list-img.png);
  padding: 0 0 0 10px;
  font-size: 20px;
}

.pricingSection
  > .cards
  > div
  > .listSection
  > .pricingList
  > .listItem
  > span {
  position: relative;
  bottom: 5px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.heading {
  margin: 10% 0 0 6%;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.headingActive {
  color: #ffffff;
}

.subHeading {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4d4d4d;
  margin: 4% 0 0 6%;
}

.subHeadingActive {
  color: #ffffff;
}

.bottomHeading {
  position: relative;
  bottom: 90px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.childHeading {
  color: #4d4d4d;
}

.bottomSubHeading {
  position: relative;
  bottom: 80px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #4d4d4d;
}

.bottomButton {
  position: relative;
  bottom: 50px;
  border: 2px solid #61a3f2;
  background: transparent;
  border-radius: 10px;
  padding: 15px 40px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4aa4f2;
}

.bottomButtonActive {
  background-color: #079df3;
  color: #ffffff;
  box-shadow: 0px 3px 10px 2px #08b1f650;
}

/* TESTIMONIAL SECTION */
.testimonialSection > .headingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonialSection > .headingSection > .heading {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.testimonialSection > .headingSection > .subHeading {
  position: relative;
  bottom: 50px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #4d4d4d;
}

.testimonialSection > .contentSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  place-items: center;
}

.testimonialSection > .contentSection > .card {
  border: 1px solid #e5e5e5;
  height: 250px;
  width: 550px;
  border-radius: 10px;
}

.cardActive {
  box-shadow: 0 0 40px 20px #424f620d;
}

.testimonialSection > .contentSection > .card:nth-child(odd) {
  margin-left: 26%;
}

.testimonialSection > .contentSection > .card:nth-child(even) {
  margin-right: 26%;
}

.testimonialSection > .contentSection > .card > .feedback {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 5% 5% 0 5%;
}

.testimonialSection > .contentSection > .card > img {
  height: 70px;
  margin: 7% 0 0 5%;
}

.testimonialSection > .contentSection > .card > .name {
  position: relative;
  bottom: 26%;
  left: 20%;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.testimonialSection > .contentSection > .card > .company {
  position: relative;
  bottom: 25%;
  left: 20%;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* BANNER SECTION */
.bannerSection {
  margin: 10% 0 0 0;
  background: linear-gradient(#08b1f6, #0568eb);
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bannerSection > .leftSection {
  margin: 0 0 0 6%;
}

.bannerSection > .leftSection > h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.bannerSection > .leftSection > p {
  margin: 4% 0 0 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.bannerSection > .rightSection {
  margin: 0 10% 0 0;
}

.bannerSection > .rightSection > button {
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 10px;
  padding: 15px 40px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

/* FOOTER SECTION */
.footerSection {
  margin: 10% 6% 2% 6%;
  display: flex;
  justify-content: space-between;
}

.footerSection > .leftSection {
  width: 25%;
}

.footerSection > .leftSection > p {
  font-size: 15px;
  margin: 7% 0 0 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #4d4d4d;
}

.footerSection > .midSection {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footerSection > .midSection > div > h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.footerSection > .midSection > div > .listItems > .listItem {
  list-style-type: none;
  margin: 0 0 20px 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #4d4d4d;
}

.footerSection > .rightSection > h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0 0 15px 0;
}

@media screen and (min-width: 480px) {
  .menuIcon {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .nav-section > .navbar > img {
    width: 70px;
  }

  .nav-section > .navbar > button {
    font-size: 13px;
    padding: 4px 9px;
    position: relative;
    left: 60px;
  }

  .menuIcon {
    font-size: 25px;
  }

  .nav-items {
    display: none;
  }

  .hostingSection {
    display: flex;
    flex-direction: column-reverse;
  }

  .hostingSection > .rightSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hostingSection > .rightSection > img {
    height: 300px;
  }

  .hostingSection > .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hostingSection > .leftSection > h1 {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 30px;
  }

  .hostingSection > .leftSection > p {
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 15px;
  }

  .hostingSection > .leftSection > button {
    position: relative;
    top: 23px;
    font-size: 15px;
    padding: 8px 15px;
  }

  .qualitySection {
    display: flex;
    flex-direction: column;
  }

  .qualitySection > .leftSection > img {
    height: 300px;
  }

  .qualitySection > .rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .qualitySection > .rightSection > h1 {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 30px;
  }

  .qualitySection > .rightSection > p {
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 15px;
  }

  .qualitySection > .rightSection > button {
    position: relative;
    margin: 0 auto;
    top: 23px;
    font-size: 15px;
    padding: 8px 15px;
  }

  .techSupportSection {
    display: flex;
    flex-direction: column-reverse;
  }

  .techSupportSection > .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .techSupportSection > .leftSection > h1 {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 30px;
  }

  .techSupportSection > .leftSection > p {
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 15px;
  }

  .techSupportSection > .leftSection > button {
    position: relative;
    margin: 0 auto;
    top: 23px;
    font-size: 15px;
    padding: 8px 15px;
  }

  .techSupportSection > .rightSection > img {
    height: 300px;
  }

  .serviceContent {
    display: flex;
    flex-direction: column;
  }

  .serviceContent > h1 {
    text-align: center;
    font-size: 30px;
  }

  .serviceContent > p {
    text-align: center;
    font-size: 15px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .pricingSection {
    height: fit-content;
  }

  .pricingSection > h1 {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 30px;
  }

  .pricingSection > .cards {
    position: relative;
    top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonialSection > .headingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  }

  .testimonialSection > .headingSection > .heading {
    text-align: center;
    font-size: 30px;
  }

  .testimonialSection > .headingSection > .subHeading {
    position: relative;
    top: 5px;
    right: 8px;
    text-align: center;
    font-size: 15px;
  }

  .testimonialSection > .contentSection {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    place-items: center;
  }

  .testimonialSection > .contentSection > .card {
    border: 1px solid #e5e5e5;
    height: 250px;
    width: 350px;
    border-radius: 10px;
  }

  .testimonialSection > .contentSection > .card:nth-child(odd) {
    margin-left: 0;
  }

  .testimonialSection > .contentSection > .card:nth-child(even) {
    margin-right: 0;
  }

  .cardActive {
    box-shadow: 0 0 40px 20px #424f620d;
  }

  .testimonialSection > .contentSection > .card > .feedback {
    font-size: 15px;
  }

  .testimonialSection > .contentSection > .card > img {
    height: 40px;
  }

  .testimonialSection > .contentSection > .card > .name {
    position: relative;
    bottom: 17%;
    font-size: 13px;
  }

  .testimonialSection > .contentSection > .card > .company {
    position: relative;
    bottom: 16%;
    font-size: 10px;
  }

  .bannerSection {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .bannerSection > .leftSection {
    margin: 0;
  }

  .bannerSection > .leftSection > h1 {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 30px;
  }

  .bannerSection > .leftSection > p {
    margin: 0 5%;
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 15px;
  }

  .bannerSection > .rightSection {
    margin: 0;
  }

  .bannerSection > .rightSection > button {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 8px 15px;
  }

  .footerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerSection > .leftSection {
    width: fit-content;
  }

  .footerSection > .leftSection > img {
    display: block;
    margin: 0 auto;
  }

  .footerSection > .leftSection > p {
    text-align: center;
    font-size: 15px;
  }

  .footerSection > .midSection {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footerSection > .rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
